/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

/* Global Styles */
* {
    font-family: 'Red Rose', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


/* Color Palette */
:root {
  --primary1: #223730; 
  --primary2: #205A47; 
  --primary3: #266740; 
  --secondary1: #2C5A09;
  --secondary2: #87B663;
  --neutral1: #161616;
  --neutral2: #212121;
  --neutral3: #4C4C4C;
  --neutral4: #6E6E6E;
  --neutral5: #D7CDCD;
  --neutral6: #FFFFFF;
}



.carousel-caption {
    position: absolute !important;
    top: 15px !important;      /* atur ke atas */
    left: 20px !important;     /* di kiri */
    right: auto !important;
    bottom: auto !important;
    text-align: left !important;
    padding: 0 !important;
    padding-top: 10px; /* atau sesuai kebutuhan */
    overflow: visible; /* supaya teks tidak terpotong */
     font-size: 2rem; /* contoh, sesuaikan */
}


.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}



/* NAVBARRR */

section {
    padding-top: 80px ;
    padding-bottom:20px;
    margin: 0 auto;
}


/* Container */
.contain{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}


/* Header */
header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 200;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--neutral6);
    padding: 10px 12px;
    border-radius: 5rem;
    box-shadow: 0 6px 64px 0 hsla(221,47%,31%, 0.06);
}

.logo img {
    width: 120px;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 0.88rem;
    color: var(--neutral1);
    font-weight: 500;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: #fff;
    background-color: #1f5d47;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid var(--primary2); 
}
.nav-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav-right i {
    font-size: 18px;
    background: var(--neutral6);
    color: #161616;
    padding: 8px;
    border-radius: 50%;
}

.login-btn{
    background: var(--primary2);
    color: var(--neutral6);
    padding: 8px 14px;
    border-radius: 5rem;
    font-size: 0.9rem;
}

.login-btn:hover{
    background: var(--secondary2);
    transition: background 0.4s ease-in-out;
}

/* Menu Icons */
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    padding: 10px;
    color:var(--primary2);
    border-radius: 50%;
    z-index: 200;
    transition: 0.3s ;
}

.menu-icon div{
    display: block;
    background: var(--primary1);
    height: 2px;
    width: 20px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.auth-buttons {
    display: flex;
    gap: 8px;
  }
  
  /* Tombol Login */
  .login-btn {
    background: var(--primary2);
    color: var(--neutral6);
    padding: 8px 14px;
    border-radius: 5rem;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .login-btn:hover {
    background: var(--secondary2);
    transition: background 0.4s ease-in-out;
  }
  
  /* Tombol Register */
  .register-btn {
    background: transparent;
    color: var(--neutral1);
    padding: 8px 14px;
    border-radius: 5rem;
    border: 2px solid var(--primary2);
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }
  
  .register-btn:hover {
    background: var(--primary2);
    color: var(--neutral6);
  }
  




/*** Header ***/
.carousel-caption {
  position: absolute !important;
  top: 30% !important;
  left: 5% !important;
  transform: translateY(-50%);
  text-align: left !important;
  padding: 0 !important;
  width: 70%; /* agar tidak terlalu lebar */
  font-size: 2rem;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
}


/*** Products ***/
.product {
    background: #94B0A7;
    background-size: auto;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
}


/*** About ***/
.video {
    background: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)), url(../img/video-bg.jpg) center center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Store ***/
.store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 180, 78, .3);
    opacity: 0;
    transition: .5s;
}

.store-item:hover .store-overlay {
    opacity: 1;
}


/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}



.konsultasi{
    display: flex;
    height : 355px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.konsul-container{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.konsul-container .box{
    display: flex;
    width: 346px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.konsul-container .box img{
    height: 218px;
    align-self: stretch;
    border-radius: 10px;
}

.konsul-container .box .isi{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.konsul-container .box .isi .text{
    gap: 9px; 
    position: relative;
}

.konsul-container .box .isi i{
    display: flex;
    width: 34px;
    height: 34px;
    padding: 8px 9px;
    align-items: center;
    color: var(--Primary-Primary2, #205A47);
    gap: 10px;
    border-radius: 17px;
    background: var(--Neutral-neutral-8, #F5F6F9);
}






  .footer {
    background-color: #20382d;
    color: white;
    padding: 40px 20px 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-left {
    flex: 1 1 300px;
  }
  
  .footer-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-left p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .footer-contact p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .footer-right {
    flex: 2 1 600px;
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .footer-social a {
    background-color: #cfd2d1;
    color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  .footer-links div {
    min-width: 120px;
  }
  
  .footer-links h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 6px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 14px;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    display: flex;
    justify-content: space-between;

  }
  .footer-bottom a {
    color: #ccc;
    text-decoration: none;
  }

